@import "tailwindcss";
@import "tw-animate-css";

@import "./colors.css";
@import "./typography.css";
@import "./animations.css";
@import "./variants.css";

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}
