@import "tailwindcss";

@import "./colors.css";
@import "./typography.css";
@import "./animations.css";
@import "./variants.css";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}
